
<% @creatures.each do |creature| %>
<p>
  <%= link_to creature_path(creature) do %>
  <span> <%= creature.name %> </span>
  <span> <%= creature.description %> </span>
  <% end %>
</p>
<% end %>

<%= link_to "Add a creature", new_creature_path %>
