<!DOCTYPE html>
<html>
  <head>
    <title>BogApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <div class="nav-wrapper">
        <a href="/" class="brand-logo">Bog App</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/creatures">See All Creatures</a></li>
          <li><a href="/creatures/new">Make New Creature</a></li>
        </ul>
      </div>
    </nav>
    <div class="row">
      <div class="col m6 offset-m3">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
